<!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
<main class="main" id="top">
  <!-- <app-search></app-search> -->
  <!-- <app-cart></app-cart> -->
      <app-navbar></app-navbar>
      <app-hero></app-hero>
      <app-panel2img></app-panel2img>
      <app-best-deals></app-best-deals>
      <app-exclusive-collection></app-exclusive-collection>
      <app-new-arrivals></app-new-arrivals>
      <app-category></app-category>
      <app-urban-collections></app-urban-collections>
      <app-best-sellers></app-best-sellers>
      <app-summer-collection></app-summer-collection>
      <app-explore-collection></app-explore-collection>
      <app-news-letter></app-news-letter>
      <app-hero2></app-hero2>
      <app-footer></app-footer>
</main><!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
